.dashboard-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.dashboard-container h1 {
  font-size: 36px;
  color: #1e3a8a;
  margin-bottom: 10px;
}

.dashboard-subtitle {
  font-size: 18px;
  color: #484f79;
  margin-bottom: 30px;
}

.search-container {
  margin-bottom: 30px;
}

.search-input {
  padding: 12px 20px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.search-input:focus {
  border-color: #1e3a8a;
  box-shadow: 0 0 5px rgba(30, 58, 138, 0.5);
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.stats-container.show {
  opacity: 1;
  transform: translateY(0);
}

.stat-box {
  background-color: #1e3a8a;
  color: white;
  padding: 0px 30px;
  border-radius: 10px;
  min-width: 150px;
  height: 100px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.stat-box h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.stat-box p {
  font-size: 16px;
}


.cards-container {
  display: flex; 
  flex-wrap: wrap;      
  gap: 20px;            
  justify-content: center; 
}


.cards-container > div:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}


.empty-state {
  font-size: 16px;
  color: #777;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.6s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
