.dashboard-container {
  display: flex;
  border: 2px solid #ccc;
  gap: 20px;
  padding: 20px;
}
 .dashboard-section {
    flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #aaa;
  padding: 10px;
  background-color: #f9f9f9;
}   
.dashboard-section .Numbers {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:960;
  font-size: 40px;
  color: #333;
}
