.dashboard-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.dashboard-container h1 {
  font-size: 36px;
  color: #1e3a8a;
  margin-bottom: 10px;
}

.dashboard-subtitle {
  font-size: 18px;
  color: #484f79;
  margin-bottom: 30px;
}

.no-items {
  font-size: 16px;
  color: #777;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.stat-box {
  width: 220px;
  height:100px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.stat-box:hover {
  transform: translateY(-5px);
}

.stat-box h2 {
  font-size: 36px;
  margin: 0;
}

.stat-box p {
  margin-top: 8px;
  font-size: 15px;
}

.found-box {
  background: linear-gradient(135deg, #1e3a8a, #2563eb);
}

.retrieved-box {
  background: linear-gradient(135deg, #059669, #10b981);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.cards-container > div:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
