.item-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 250px; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  box-sizing: border-box; 
}

.item-card h3 {
  margin-bottom: 10px;
  text-align: center;
}

.item-card p {
  margin: 4px 0;
  text-align: center;
}

.image-container {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.image-container img {
  max-width: 100%;
  max-height: 180px;
  object-fit: contain;
  border-radius: 8px;
}

.retrieve-button {
  background-color: #1e3a8a;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: auto;
  width: 90%;
}

.retrieve-button:hover {
  background-color: #163270;
}
